# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.env
.venv
env/
venv/

# VsCode settings
.vscode/

# Poetry files
poetry.lock

# Guide files
PUBLICATION_GUIDE.md
PYPI_UPLOAD_GUIDE.md
publish.py
upload_to_pypi.py
UPDATE_PYPI.md


# Distribution / packaging
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt

# PyPI upload cache
*.egg
*.eggs/
.installed.cfg
*.egg-info/
*.manifest

# Others
*.log
.DS_Store
